<manifest package="com.gimbal.airship"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <receiver
            android:name="com.gimbal.airship.AirshipReadyReceiver"
            android:exported="false">

            <intent-filter>
                <action android:name="com.urbanairship.AIRSHIP_READY"/>
                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="com.gimbal.airship.AirshipAdapterInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>
